#backgroundColor {
    background: black;
    max-height: 100%;
    padding: 30px;
    margin: 0 auto;
    clear: both;
}

#game {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
}

#headerRow {
    text-align: center;
    width: 81%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(216, 117, 178);
    margin: 20px 0px 20px 20px;
}

#instructionsRow {
    text-align: left;
    width: 81%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(150, 207, 221);
    margin: 0px 0px 20px 20px;
}

#scoreCol {
    text-align: left;
    width: 80%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(113, 223, 99);
    margin: 0px 0px 20px 35px;
}


#winsLossesCol {
    text-align: left;
    width: 80%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(238, 173, 211);
    margin: 0px 0px 20px 35px;
}

#crystalRow {
    text-align: left;
    width: 81%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(157, 91, 243);
    margin: 0px 0px 20px 20px;
}

#yourTotalScoreRow {
    text-align: left;
    width: 81%;
    padding: 30px;
    border: 2px solid whitesmoke;
    background: rgb(235, 247, 70);
    margin: 0px 0px 20px 20px;
}
